# How to crawl weather data

#### Import relevant packages

In [2]:
import requests
from bs4 import BeautifulSoup

#### Get content from a webpage

In [3]:
result = requests.get('https://www.timeanddate.com/weather/australia/sydney/historic?hd=20200820')

#### Parse text into DOM tree

In [7]:
soup = BeautifulSoup(result.content, 'html.parser')

#### Find elements

In [10]:
table = soup.find(id='wt-his')

In [12]:
list_trs = table.find_all('tr')

In [14]:
type(list_trs)

bs4.element.ResultSet

In [36]:
list_temp = []
list_times = []
for tr in list_trs:
    list_tds = tr.find_all('td')
    list_ths = tr.find_all('th')
    
    if len(list_tds) > 1:
        list_times.append(list_ths[0].text.strip())
        list_temp.append(list_tds[1].text.replace('\xa0Â°C', ''))

In [39]:
list_times[0] = '12:00 am'

#### Store data to CSV format

In [33]:
fp = open('data/sydney.18_08_2020.22_08_2020a.csv', 'w')

In [34]:
fp.write('time,temp\n')

10

In [41]:
for idx in range(len(list_times)):
    fp.write('{},{}\n'.format(list_times[idx], list_temp[idx]))
fp.close()

# Work with Pandas

In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('data/sydney.18_08_2020.22_08_2020.csv')

In [45]:
df.head(5)

   date      time  temp
0    18  12:00 am    12
1    18   1:00 am    12
2    18   2:00 am    12
3    18   3:00 am    13
4    18   4:00 am    12

In [46]:
groups = df.groupby('date')

In [50]:
groups.max()['temp'].values.tolist()

[13, 18, 18]